body {
	font: 12px/1.5 \5b8b\4f53, Arial, sans-serif;
	color: #666;
	background: white;
	font-family: "微软雅黑";
}

a {
	color: #999;
	text-decoration: none;
}

a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
	margin: 0;
	padding: 0
}

ol,
ul {
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

em,
i,
u {
	font-style: normal
}

.fl {
	float: left
}

.fr {
	float: right
}

.clearfix:after {
	content: '\20';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.al {
	text-align: left
}

.ac {
	text-align: center
}

.ar {
	text-align: right
}

.hide {
	display: none
}

.place {
	margin-left: 0;
}

.dorpdown-layer {
	left: 0;
}

.w {
	margin: 0 auto;
	width: 1190px;
}

#Header {
	background: white;
}

#header {
	height: 140px;
	position: relative;
}

#header a:hover {
	color: #C81623;
}

#logo {
	position: relative;
	z-index: 12;
	float: left;
	width: 362px;
	height: 60px;
	padding: 20px 0;
}

#logo a {
	display: block;
	width: 270px;
	height: 60px;
	background: url(../img/jd/logo-201305.png) no-repeat;
}

#from {
	width: 550px;
	height: 35px;
	position: absolute;
	margin-top: 25px;
	margin-left: 320px;
}

.search-m {
	height: 60px;
	position: relative;
	z-index: 1;
}

.search-i {
	width: 500px;
	height: 25px;
	line-height: 25px;
	position: absolute;
	font-size: 14px;
	padding: 4px;
	left: 0;
	border: 1px solid #f10215;
	outline: 0;
}

.search-btn {
	color: white;
	font-family: "微软雅黑";
	width: 50px;
	height: 35px;
	background: #F10215;
	position: absolute;
	right: 0;
	border: 0;
	cursor: pointer;
}

#cart {
	width: 190px;
	height: 33px;
	background: white;
	position: absolute;
	right: 0;
	top: 25px;
	border: 1px solid #CCCCCC;
	text-align: center;
}

#cart a {
	color: #f10214;
	line-height: 33px;
}

.ci-count {
	position: absolute;
	top: 5px;
	left: 140px;
	right: auto;
	display: inline-block;
	padding: 1px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #f10215;
	border-radius: 7px;
	min-width: 12px;
	text-align: center;
}

.cart-x {
	top: 33px;
	right: -1px;
	width: 308px;
	position: absolute;
	border: 1px solid #ccc;
	background: white;
	border-top: 0;
	display: none;
}

.prompt {
	padding: 10px 15px;
}

.nogoods {
	padding-left: 30px;
	height: 49px;
	line-height: 49px;
	overflow: hidden;
	color: #999;
}

.nogoods i {
	float: left;
	width: 56px;
	height: 49px;
	background: url(../img/jd/cart.png);
}

.root-nav .w {
	position: relative;
	z-index: 9;
	height: 44px;
}

.nav {
	height: 44px;
	border-bottom: 2px solid #B1191A;
}

.categorys {
	float: left;
	position: relative;
	z-index: 10;
	width: 210px;
	height: 44px;
	overflow: visible;
	background: #B1191A;
}

.categorys a {
	display: block;
	width: 190px;
	height: 44px;
	padding: 0 10px;
	background: #B1191A;
	font: 400 15px/44px "microsoft yahei";
	color: #fff;
	text-decoration: none;
}

.navitems {
	float: left;
	position: relative;
	z-index: 2;
}

.nav_group li {
	float: left;
}

.navitems li a {
	height: 44px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: 400 15px/44px "microsoft yahei";
	color: #333;
}

.root-nav {
	background: #f2f2f2;
}

.breadcrumb {
	margin-bottom: 0;
	padding-bottom: 0;
	height: 45px;
	line-height: 45px;
	padding: 0 0 4px 6px;
	vertical-align: baseline;
}

.breadcrumb b {
	display: inline;
	font-weight: 700;
	line-height: 20px;
	font-size: 18px;
	font-family: "microsoft yahei";
}

.breadcrumb span {
	font-family: simsun;
}

.breadcrumb a {
	color: #666;
}

.product-intro {
	width: 100%;
	position: relative;
	z-index: 3;
}

.preview {
	float: left;
	padding-bottom: 15px;
	display: inline;
	width: 378px;
	position: relative;
}

.spec-n1 {
	width: 350px;
	height: 350px;
	margin: 14px 0 14px 14px;
	position: relative;
}

.spec-list {
	position: relative;
	width: 310px;
	height: 54px;
	overflow: hidden;
	padding: 0 20px 0 34px;
}

.g-left {
	display: block;
	position: absolute;
	top: 0;
	width: 14px;
	height: 54px;
	background: url(../img/jd/newicon20140910.png) no-repeat;
	background-position: -28px -346px;
	z-index: 2;
	left: 12px;
}

.g-right {
	display: block;
	position: absolute;
	top: 0;
	width: 14px;
	height: 54px;
	background: url(../img/jd/newicon20140910.png) no-repeat;
	background-position: -43px -346px;
	right: 0;
}

.spec-items {
	top: 0;
	left: 36px;
}

.lh {
	overflow: hidden;
	position: absolute;
	width: 372px;
	height: 54px;
	top: 0px;
	left: 0px;
}

.lh li {
	width: 62px;
	text-align: center;
	font-size: 0;
	position: relative;
	float: left;
}

.lh img {
	border: 2px solid white;
	padding: 0;
	width: 46px;
	height: 46px;
	display: block;
}

.bigimg {
	background: white;
	border: 1px solid #F7F7F7;
	width: 450px;
	height: 450px;
	position: absolute;
	left: 350px;
	overflow: hidden;
	display: block;
	z-index: 999;
	top: 0;
}

.bigimg img {
	position: absolute;
	height: 1050px;
	width: 1050px;
}

.short-share {
	padding: 24px 40px 0 34px;
	overflow: hidden;
}

.share-list {
	padding: 0 10px 0 17px;
	position: relative;
	float: left;
	display: block;
	white-space: nowrap;
	text-decoration: none;
}

.share-list b {
	position: absolute;
	display: inline-block;
	top: 2px;
	left: 0;
	height: 12px;
	overflow: hidden;
	background: url(../img/jd/newicon20140910.png) no-repeat;
}

.share-list .share_b {
	background-position: -162px -296px;
	width: 12px;
}

.share-list .share_b2 {
	background-position: -177px -296px;
	width: 14px;
	height: 14px;
	top: 3px;
}

.right-btns {
	float: right;
}

.m-item-inner {
	width: 588px;
	float: left;
	padding-right: 220px;
}

.itemInfo {
	position: relative;
	width: 100%;
}

.name {
	padding: 15px 75px 10px 0;
}

.name h1 {
	line-height: 1.5em;
	overflow: hidden;
	font-weight: 700;
	font-family: arial, "microsoft yahei";
	font: 16px "microsoft yahei", simsun;
}

.p-ad {
	font-family: arial, "microsoft yahei";
	color: #e3393c;
	font-size: 14px;
	line-height: 20px;
	word-break: break-all;
}

.compare {
	position: absolute;
	top: 20px;
	right: 0;
	overflow: hidden;
}

.compare a {
	display: inline-block;
	padding: 0 15px;
	border: solid 1px #ddd;
	height: 22px;
	line-height: 22px;
	border-radius: 2px;
	text-align: center;
	color: #323232;
	background: #f5f5f5;
	overflow: hidden;
}

.summary {
	width: 100%;
	position: relative;
	z-index: 3;
}

.summary-info {
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 6;
}

.comment-count {
	border-left: solid 1px #e6e6e6;
	text-align: center;
	padding: 0 10px;
	line-height: 15px;
}

.summary-price {
	padding-top: 10px;
	padding-bottom: 0;
	padding-right: 81px;
	line-height: 30px;
	background: #f7f7f7;
}

.dtt {
	float: left;
	width: 72px;
	margin-left: -72px;
	display: inline;
	text-align: right;
	font-family: simsun;
}

.dd {
	width: 432px;
}

.p-price {
	display: inline-block;
	color: #e4393c;
	font-size: 20px;
}

.J-summary-top {
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	background: #f7f7f7;
}

.summary-promotion {
	position: relative;
	width: 516px;
	padding-top: 4px;
	padding-right: 0;
	background: #f7f7f7;
	padding-left: 72px;
}

.summary-quan {
	padding-left: 72px;
	padding-right: 20px;
	background: #f7f7f7;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
}

.summary-quan .dd {
	color: red;
}

.summary-support {
	padding-left: 72px;
	padding-right: 20px;
}

.old2new {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/jd/58073bb4Nc4e2da4d.png) no-repeat;
}

.summary-stock {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 72px;
	padding-right: 20px;
}

.summary-service {
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 72px;
	padding-right: 20px;
}

.summary-weight {
	padding-left: 72px;
	padding-right: 20px;
}

.choose {
	width: 100%;
	padding-top: 10px;
	border-top: 1px dotted #ddd;
	margin-top: 5px;
	margin-bottom: 20px;
}

.choose-service {
	width: 516px;
	padding: 5px 0 5px 72px;
	float: left;
	font-family: simsun;
	line-height: 16px;
}

.choose-baitiao {
	width: 516px;
	padding: 5px 0 5px 72px;
	float: left;
}

.choose-btns {
	width: 516px;
	padding: 5px 0 5px 72px;
	float: left;
}

.btn {
	float: left;
	height: 38px;
	margin-top: 8px;
	margin-bottom: 5px;
}

.btn a {
	line-height: 38px;
	position: relative;
	font: 400 18px/38px "microsoft yahei";
	text-align: center;
	color: #e4393c;
	float: left;
	margin-right: 6px;
	overflow: hidden;
	width: 137px;
	height: 38px;
	white-space: nowrap;
}

.btn a b {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background: url(../img/jd/p-btns.png)no-repeat 0 0;
}

.summary-tips {
	width: 516px;
	padding: 5px 0 5px 72px;
	float: left;
}

.fitting-suit {
	padding-top: 2px;
	background: url(../img/jd/tab.png)repeat-x 0 -41px;
}

.float-nav-wrap {
	height: 30px;
	position: relative;
}

.mmt {
	height: 30px;
	overflow: visible;
	line-height: 30px;
	background: 0 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.tabbb {
	margin-left: -1px;
	overflow: visible;
	float: left;
}

.tabbb li {
	float: left;
	text-align: center;
}

.tabbb a {
	font: 700 15px/30px 'microsoft yahei';
	float: left;
	height: 30px;
	line-height: 28px;
	padding: 0 13px;
	color: #666666;
	;
}

.currr {
	height: 34px;
	border-top: 2px solid #e4393c;
	margin-top: -6px;
	color: #e4393c;
	background-color: #fff;
}

.zjzh {
	padding: 10px 0;
	border: 1px solid #ddd;
	border-top: none;
	overflow: visible;
}

.zh-list {}

.combine-conn {}

.zh_ul li {
	margin: 10px 35px;
	width: 130px;
	float: left;
}

.zh-img {
	padding: 5px 0;
}

.p-name {
	height: 3em;
	word-break: break-all;
	word-wrap: break-word;
}

.datu {
	margin-top: 30px;
	width: 800px;
	position: relative;
	left: 200px;
	margin-bottom: 30px;
	display: block;
}

.daimg {
	margin-bottom: 20px;
}

.mod_footer {
	height: 450px;
}

.mod_help_nav {
	width: 250px;
}

.mod_service {
	background: #F5F5F5;
}

.fdj {
	width: 150px;
	height: 150px;
	background: yellow;
	opacity: 0.4;
	position: absolute;
	left: 0;
	top: 0;
}