body {
	font: 12px/1.5 \5b8b\4f53, Arial, sans-serif;
	color: #666;
	background: #F6F6F6;
	font-family: "微软雅黑";
}

a {
	color: #999;
	text-decoration: none;
}

a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
	margin: 0;
	padding: 0
}

ol,
ul {
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

em,
i,
u {
	font-style: normal
}

.fl {
	float: left
}

.fr {
	float: right
}

.al {
	text-align: left
}

.ac {
	text-align: center
}

.ar {
	text-align: right
}

.hide {
	display: none
}

.w {
	width: 1190px;
	margin: 0 auto;
}


/*-----------------------------这里是顶部部分----------------------------------*/

#jd-Top {
	background: #E3E4E5;
}

#jd-top {
	height: 30px;
	position: relative;
}

#jd-top a:hover {
	color: #C81623;
}

.place {
	margin-left: 208px;
	height: 30px;
	line-height: 30px;
	float: left;
	color: #999;
}

.places {
	border: 1px solid #e3e4e5;
	border-bottom: 0;
	border-top: 0;
}

.dorpdown-layer {
	border: 1px solid #e3e4e5;
	border-top: 0;
	display: none;
	width: 300px;
	padding: 10px;
	position: absolute;
	background: white;
	left: 208px;
	top: 30px;
	z-index: 100;
}

.item {
	float: left;
	width: 60px;
	padding: 2px 0;
}

.selected {
	color: #999;
	float: left;
	padding: 0 8px;
}

.top-ul {
	float: right;
}

.top-ul li {
	float: left;
	height: 30px;
	line-height: 30px;
}

.top-ul .long {
	width: 1px;
	height: 10px;
	background: #ccc;
	margin: 11px 5px 0;
}

#login {
	margin-right: 8px;
}

.top-ul .style-red {
	color: red;
}

.dt {
	padding-left: 7px;
	padding-right: 7px;
}

#myjd {
	position: relative;
}

.myjd-info {
	position: absolute;
	left: 0;
	top: 30px;
	width: 280px;
	background: white;
	border: 1px solid #ccc;
	height: 200px;
	z-index: 99;
	border-top: 0;
	display: none;
}

.my-user-info {
	padding: 10px 0 10px 15px;
	overflow: hidden;
}

.u-pic {
	float: left;
	margin-right: 10px;
}

.u-pic img {
	height: 100%;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.u-name {
	padding: 6px 0 0;
	font-weight: 700;
}

.u-extra a,
.u-extra span {
	margin-right: 10px;
}

.otherlist {
	width: 255px;
	padding: 0 0 0 15px;
	margin: 5px 0;
	overflow: hidden;
	margin-bottom: 10px;
}

.fore1 {
	float: left;
	width: 126px;
}

.user-item {
	line-height: 24px;
}

#service {
	position: relative;
}

.services {
	position: absolute;
	right: 0;
	top: 30px;
	width: 180px;
	padding: 10px 0;
	background: white;
	z-index: 50;
	border: 1px solid #ccc;
	border-top: none;
	display: none;
}

.item-client {
	padding-left: 15px;
	font-weight: 700;
	color: #666;
}

.sv-item {
	display: inline-block;
	width: 70px;
	padding-left: 15px;
	line-height: 24px;
}

.item-business {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dotted #eee;
	padding-left: 15px;
	font-weight: 700;
	color: #666;
	line-height: 24px;
}

#w-nva {
	position: relative;
}

.w-nav {
	position: absolute;
	right: 0;
	top: 30px;
	width: 1190px;
	padding: 15px 0;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #fff;
	z-index: 100;
	display: none;
}

.forr {
	width: 340px;
	float: left;
	padding-left: 20px;
	border-right: 1px solid #eee;
}

.forr dt {
	margin-bottom: 5px;
	font-weight: 700;
	color: #666;
}

.forr-item {
	overflow: hidden;
	float: left;
	width: 85px;
	white-space: nowrap;
}

.forr2,
.forr3,
.forr4 {
	width: 255px;
	float: left;
	padding-left: 20px;
	border-right: 1px solid #eee;
}


/*-------------------------------这里是头部部分------------------------------*/

#Header {
	background: #F6F6F6;
}

#header {
	height: 140px;
	position: relative;
}

#header a:hover {
	color: #C81623;
}

#logo {
	width: 190px;
	height: 170px;
	background: url(../img/jd/logo.png) no-repeat white;
	position: absolute;
	left: 0;
	top: -30px;
	z-index: 3;
}

#from {
	width: 550px;
	height: 35px;
	position: absolute;
	margin-top: 25px;
	margin-left: 320px;
}

.search-m {
	height: 60px;
	position: relative;
	z-index: 1;
}

.search-i {
	width: 500px;
	height: 25px;
	line-height: 25px;
	position: absolute;
	font-size: 14px;
	padding: 4px;
	left: 0;
	border: 1px solid #f10215;
	outline: 0;
}

.search-btn {
	width: 50px;
	height: 35px;
	background: #F10215;
	position: absolute;
	right: 0;
	border: 0;
	cursor: pointer;
}

#cart {
	width: 190px;
	height: 33px;
	background: white;
	position: absolute;
	right: 0;
	top: 25px;
	border: 1px solid #CCCCCC;
	text-align: center;
}

#cart a {
	color: #f10214;
	line-height: 33px;
}

.ci-count {
	position: absolute;
	top: 5px;
	left: 140px;
	right: auto;
	display: inline-block;
	padding: 1px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #f10215;
	border-radius: 7px;
	min-width: 12px;
	text-align: center;
}

.cart-x {
	top: 33px;
	right: -1px;
	width: 308px;
	position: absolute;
	border: 1px solid #ccc;
	background: white;
	border-top: 0;
	display: none;
}

.prompt {
	padding: 10px 15px;
}

.nogoods {
	padding-left: 30px;
	height: 49px;
	line-height: 49px;
	overflow: hidden;
	color: #999;
}

.nogoods i {
	float: left;
	width: 56px;
	height: 49px;
	background: url(../img/jd/cart.png);
}

.hotwords {
	overflow: hidden;
	position: absolute;
	left: 320px;
	top: 65px;
	width: 550px;
	height: 20px;
	line-height: 20px;
}

.hotwords a {
	float: left;
	margin-right: 10px;
	white-space: nowrap;
}

.hotwords .style-red {
	color: red;
}

.header-nav {
	position: absolute;
	left: 200px;
	bottom: 0;
	width: 790px;
	height: 40px;
	overflow: hidden;
}

.header-nav ul {
	float: left;
}

.header-nav li {
	margin-left: 30px;
	float: left;
}

.header-nav a {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700;
	color: #666666;
}

.header-nav .spacer {
	margin-top: 15px;
	margin-left: 20px;
	margin-right: -10px;
	width: 1px;
	height: 10px;
	background: #ccc;
	float: left;
}


/*这里是分类阶段*/

#fs {
	position: relative;
	height: 480px;
	margin-bottom: 10px;
}

#fs a:hover {
	color: #C81623
}

#sortall {
	float: left;
	width: 190px;
	height: 100%;
	margin-right: 10px;
	background: red;
}

#sortbox {
	position: relative;
}

.sort {
	padding: 15px 0;
	height: 450px;
	background: #6c6669;
	color: white;
}

.sort li:hover {
	background: #999395;
}

#sortbox .sort li {
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
}

#sortbox a {
	color: white;
	font-size: 14px;
}

.sort-s {
	padding: 0 4px;
	font-size: 14px;
}

#sort-total {
	position: absolute;
	left: 190px;
	top: 0;
	width: 998px;
	min-height: 478px;
	border: 1px solid #f7f7f7;
	background: #f7f7f7;
	z-index: 20;
	display: none;
}

.cate_part {
	padding: 20px 0 10px;
}

.cate_part_col1 {
	float: left;
	width: 800px;
}

.cate_channel {
	overflow: hidden;
	padding-left: 20px;
	height: 24px;
}

.cate_channel_lk:hover {
	background: #5c5251;
}

#fs .cate_channel a:hover {
	color: white;
}

.cate_channel_lk {
	float: left;
	margin-right: 10px;
	padding: 0 10px;
	height: 24px;
	background-color: #7c7171;
	line-height: 24px;
	color: #fff;
}

.cate_detail {
	overflow: hidden;
	padding: 10px 0 0 20px;
}

.cate_detail_item {
	position: relative;
	padding-left: 80px;
}

.cate_detail_tit {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 9px;
	width: 70px;
	text-align: right;
	font-weight: 700;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cate_detail_tit a {
	text-align: right;
	font-weight: 700;
	white-space: nowrap;
}

.iconfont {
	margin-left: 5px;
}

.cate_detail_con {
	border-top: 1px solid #eee;
	overflow: hidden;
	padding: 6px 0;
}

.cate_detail_con a {
	float: left;
	margin: 4px 0;
	padding: 0 10px;
	height: 16px;
	border-left: 1px solid #e0e0e0;
	line-height: 16px;
	white-space: nowrap;
}

.cate_part_col2 {
	float: left;
	width: 198px;
}

.cate_brand {
	margin: auto;
	width: 168px;
	font-size: 0;
}

.cate_brand a {
	overflow: hidden;
	display: inline-block;
	width: 83px;
	height: 35px;
	margin: 0 0 1px 1px;
	background-color: #e7e7e7;
}

.cate_promotion {
	margin: 10px auto 0;
	width: 168px;
}

.cate_promotion a {
	display: block;
	margin-bottom: 1px;
	height: 134px;
	background-color: #e7e7e7;
}

#fs-col2 {
	width: 790px;
	height: 100%;
	float: left;
}

.lunbo {
	height: 340px;
	margin-bottom: 10px;
	position: relative;
}

.lunbotu li {
	position: absolute;
	opacity: 0;
}

.lunbo-btn {
	background-color: hsla(0, 0%, 100%, .3);
	margin-left: -91px;
	position: absolute;
	z-index: 1;
	left: 50%;
	bottom: 20px;
	font-size: 0;
	padding: 4px 8px;
	border-radius: 12px;
}

.lunbo-i {
	display: inline-block;
	margin-right: 10px;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #fff;
}

.lunbo-btn .red {
	background: red;
}

.fs-sale {
	height: 130px;
	margin-left: -10px;
}

.left,
.right {
	display: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: -30px;
	width: 30px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: rgba(0, 0, 0, .1);
}

.right:hover {
	background: #333;
}

.left:hover {
	background: #333;
}

.right {
	right: 0;
}

.fs-sale-1 {
	overflow: hidden;
	float: left;
	margin-left: 10px;
	width: 390px;
	height: 130px;
	background: red;
}

#fs-col3 {
	float: right;
	margin-left: 10px;
	width: 190px;
	height: 100%;
	background: white;
}

.user {
	padding: 0 10px;
	height: 115px;
	border-bottom: 1px solid #e6e6e6;
}

.J_news {
	overflow: hidden;
	padding: 0 15px;
	height: 118px;
}

.new_tab_head {
	padding: 8px 0 4px;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	line-height: 14px;
}

.new_tab_a {
	color: #333;
	padding-right: 12px;
	border-right: 1px solid #dfe0e1;
}

.new_tab_a2 {
	padding-left: 12px;
	padding-right: 0;
	border: 0;
}

.xiahua {
	position: absolute;
	bottom: -1px;
	left: -2px;
	width: 28px;
	height: 2px;
	background: #db192b;
}

.new_tab_a3 {
	position: absolute;
	right: 0;
	top: 8px;
}

.mod_tab_content {
	padding: 12px 0;
}

.mtc-item {
	position: absolute;
}

.mtc-list li {
	line-height: 22px;
	max-width: 160px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.user-info {
	overflow: hidden;
	position: relative;
	padding: 15px 0 15px 60px;
	height: 45px;
}

.J_service {
	overflow: hidden;
	position: relative;
	height: 210px;
}

.service_entry {
	overflow: hidden;
	width: 190px;
}

.service_list {
	position: relative;
	margin-left: -1px;
	width: 192px;
	height: 210px;
	overflow: hidden;
}

.service_item {
	position: relative;
	overflow: hidden;
	float: left;
	width: 47px;
	height: 69px;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	text-align: center;
}

.service_lk {
	display: block;
	padding-top: 14px;
	height: 55px;
}

.service_corner {
	position: absolute;
	right: 0;
	top: 0;
	width: 13px;
	height: 16px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	background: #e01121;
	color: #fff;
}

.service_corner_ico {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border: solid;
	border-width: 2px 6px;
	border-color: #e01121 #e01121 #fff;
}

.service_corner_bg {
	background: url(../img/jd/picall-1.png) no-repeat 0 -88px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_jipiao {
	background: url(../img/jd/picall-1.png) no-repeat 0 -44px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_dianying {
	background: url(../img/jd/picall-1.png) no-repeat -44px -44px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_youxi {
	background: url(../img/jd/picall-1.png) no-repeat -88px 0;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_qiye {
	background: url(../img/jd/picall-1.png) no-repeat -88px -44px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_jiayou {
	background: url(../img/jd/picall-1.png) no-repeat 0 0px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_jiudian {
	background: url(../img/jd/picall-1.png) no-repeat -44px -88px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_huoche {
	background: url(../img/jd/picall-1.png) no-repeat -88px -88px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_zc {
	background: url(../img/jd/picall-1.png) no-repeat -132px 0;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_licai {
	background: url(../img/jd/picall-1.png) no-repeat -132px -44px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_lipin {
	background: url(../img/jd/picall-1.png) no-repeat -132px -88px;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_corner_baitiao {
	background: url(../img/jd/picall-1.png) no-repeat -44px 0;
	height: 24px;
	width: 24px;
	margin: 0 auto;
	display: block;
}

.service_txt {
	display: block;
	height: 22px;
	line-height: 22px;
	border-top: 2px solid #fff;
}

.J_mobile {
	position: relative;
}

.mobile_btn {
	cursor: default;
	overflow: hidden;
	display: block;
	height: 36px;
	background-color: #60575a;
	line-height: 36px;
}

.mobile_btn_ico {
	float: left;
	margin: 10px 3px 0 60px;
	background: url(../img/jd/picall-1.png) no-repeat 0 -132px;
	width: 16px;
	height: 16px;
}

.mobile_btn_txt {
	float: left;
	color: white;
}

.tanchu {
	background: white;
	position: absolute;
	left: 0;
	top: 212px;
	width: 190px;
}

.tanchu_tab {
	height: 21px;
	padding: 15px 0 0 8px;
	overflow: hidden;
}

.tanchu_item {
	float: left;
	margin-right: 6px;
	text-align: center;
}

.huafei {
	display: none;
	color: #666;
	width: 190px;
}

.hf-inner {
	position: relative;
	height: 146px;
	padding-left: 8px;
}

.haoma {
	width: 100px;
	margin: 10px 50px 10px 0;
}

.mianzhi {
	color: red;
}

.hf-btn {
	border: 0;
	height: 85px;
	height: 25px;
	background: red;
	color: white;
	margin-top: 10px;
}

.q5 {
	padding-left: 40px;
	display: block;
	margin-top: 10px;
	color: #527cdb;
	background: url(../img/jd/iframe-hot.png)no-repeat 0 3px;
}

.xx {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

.head {
	overflow: hidden;
	position: absolute;
	margin-left: -60px;
	width: 45px;
	height: 45px;
}

.head img {
	height: 100%;
	border-radius: 23px;
}

.user-info-show p {
	overflow: hidden;
	margin-top: 2px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.user-info-show a {
	margin-right: 5px;
	color: black;
}

.user-profit {
	height: 24px;
	overflow: hidden;
}

.user_profit a {
	display: inline-block;
	margin-right: 10px;
	width: 70px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	color: #e01222;
	border: 2px solid #e01222;
	float: left;
}


/*这里是秒杀部分*/

#sk {
	margin-bottom: 30px;
	height: 305px;
}

.sk-count {
	overflow: hidden;
	position: relative;
	padding: 0 20px 0 30px;
	height: 55px;
	line-height: 55px;
	background: url(../img/jd/seckill_hd.png)no-repeat 0 0;
	color: white;
}

.sk-col1 {
	float: left;
	color: white;
}

.sk-col1-i {
	background: url(../img/jd/picall-2.png)no-repeat -190px -48px;
	width: 28px;
	height: 28px;
	position: absolute;
	left: -4px;
	top: -4px;
}

.sk-col1-icon {
	margin-top: 8px;
	margin-right: 8px;
	background: url(../img/jd/picall-2.png)no-repeat 0 -40px;
	height: 40px;
	width: 34px;
	float: left;
}

.tit {
	font-family: fzzhengheis-el-gbregular;
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	height: 40px;
	padding-top: 9px;
	float: left;
}

.subtit {
	float: left;
	margin-left: 12px;
	position: relative;
	margin-top: 19px;
	padding-right: 20px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: white;
}

.subtit:hover {
	color: white;
}

.sk-col1-arrow {
	background: url(../img/jd/picall-2.png)no-repeat -154px -40px;
	width: 15px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 4px;
}

.sk-col2 {
	float: right;
}

.sk-col2-down {
	float: left;
}

.sk-col2-tip {
	float: left;
	line-height: 45px;
	padding-top: 10px;
	font-size: 14px;
}

.sk-col2-min {
	float: left;
	margin-left: 6px;
	margin-right: 8px;
}

.sk-time-all {
	float: left;
	width: 35px;
	height: 37px;
	background: #440106;
	color: #f90013;
	font-size: 24px;
	font-family: Arial;
	font-weight: 700;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	line-height: 37px;
	margin-top: 10px;
}

.sk-col2-split {
	float: left;
	margin: 22px 4px 0;
	width: 4px;
	height: 12px;
	font-size: 0;
	line-height: 0;
}

.sk-col2-i {
	margin-bottom: 4px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #440106;
}

.sk-col2-i2 {
	top: 30px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #440106;
}

.sk-good {
	padding: 12px 0 13px;
	height: 225px;
	overflow: hidden;
}

.sk-good-info {
	float: left;
	width: 1000px;
}

.sk-goods {
	float: left;
	width: 170px;
	height: 225px;
	padding: 0 14px 0 15px;
	border-right: 1px solid #e7e7e7;
	background: white;
	position: relative;
}

.sk_item_tag {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	background: url(../img/jd/picall-2.png) no-repeat -54px -40px;
	width: 30px;
	height: 40px;
	z-index: 1;
}

.mod_ver {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	font-size: 0;
}

.sk_item_tag_txt {
	font-size: 12px;
	color: #fff;
	line-height: 14px;
	display: inline-block;
	vertical-align: 2px;
	padding-top: 2px;
}

.sk_item_pic_lk {
	outline: 0;
}

.sip {
	position: relative;
	width: 130px;
	height: 130px;
	margin: 17px 25px;
	text-align: center;
}

.sipp {
	color: #999;
	display: block;
	max-width: 100%;
	_width: 100%;
	overflow: hidden;
	font-size: 12px;
	text-align: left;
	height: 32px;
	line-height: 16px;
	word-wrap: break-word;
	word-break: break-all;
}

.sk_item_shadow {
	position: absolute;
	left: 0;
	top: 130px;
	text-align: center;
	background: url(../img/jd/picall-2.png) 0 0;
	width: 170px;
	height: 20px;
}

.sk_item_price {
	padding: 3px 0;
	height: 25px;
}

.sk_newprice {
	font-size: 18px;
	font-weight: 700;
	margin-right: 8px;
	color: #f10214;
}

.sk_price {
	color: #999;
	font-size: 12px;
}

.border-right-none {
	border: 0;
}

.sk_special {
	margin: 0 10px 0 0;
	float: right;
}

.sk_special_pic {
	width: 180px;
	height: 225px;
}


/*这里是发现好货阶段*/

#fbt {
	margin-bottom: 30px;
	height: 444px;
}

.fbt-col1,
.fbt-col2,
.fbt-col3 {
	background: white;
	width: 390px;
	height: 444px;
	float: left;
	overflow: hidden;
}

.fbt-col1,
.fbt-col2 {
	margin-right: 10px;
}

.box_hd {
	position: relative;
	padding: 0 20px 0 30px;
	height: 55px;
	line-height: 55px;
	color: #fff;
}

.bule {
	background: #4998a1;
}

.fbt-inner-i {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 19px solid #f6f6f6;
	border-right: 19px solid transparent;
}

.fbt-col1-i2 {
	background: url(../img/jd/picall-2.png)no-repeat -190px -96px;
	height: 28px;
	width: 28px;
	position: absolute;
	left: -4px;
	top: -4px;
}

.fbt-inner-i3 {
	background: url(../img/jd/picall-2.png)no-repeat -154px -40px;
	width: 15px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 4px;
}

#fbt .subtit {
	float: right;
}

.fbt-col-good {
	padding: 10px;
	height: 369px;
	background: white;
}

.fcg-ul {
	width: 370px;
	height: 363px;
	overflow: hidden;
}

.fcg-li {
	float: left;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.fcg-a {
	display: block;
	width: 184px;
	height: 120px;
	position: relative;
}

.find_item_name {
	font-size: 14px;
	color: #4998a1;
	position: absolute;
	top: 15px;
	left: 20px;
	width: 80px;
	line-height: 20px;
	z-index: 1;
	word-wrap: break-word;
}

.fcg-img {
	position: absolute;
	bottom: 5px;
	right: 10px;
	width: 80px;
	height: 80px;
}

.purple {
	background: #7d2e5c;
}

.fbt-col2-i2 {
	background: url(../img/jd/picall-2.png)no-repeat 0 -160px;
	height: 28px;
	width: 28px;
	position: absolute;
	left: -4px;
	top: -4px;
}

.brand-rec {
	margin-bottom: 12px;
	height: 227px;
	overflow: hidden;
}

.brand-rec-l,
.brand-rec-r {
	float: left;
	width: 185px;
}

.brand-rec-a {
	height: 220px;
	display: block;
	padding: 15px 22px 10px 23px;
	border-right: 1px solid #e7e7e7;
}

.brand_rec_name {
	font-size: 16px;
	color: #8b3a6d;
	margin-bottom: 5px;
	line-height: 18px;
	height: 18px;
	overflow: hidden;
}

.brand_rec_desc {
	color: #666;
	height: 36px;
	margin-bottom: 8px;
	overflow: hidden;
}

.brand_rec_split {
	width: 19px;
	height: 3px;
	background: #8b3a6d;
	margin-bottom: 12px;
}

.brand_rec_img {
	position: relative;
	display: block;
	width: 140px;
	height: 120px;
}

.orange {
	background: #e77005;
}

.fbt-col3-i2 {
	background: url(../img/jd/picall-2.png)no-repeat -190px 0;
	height: 28px;
	width: 28px;
	position: absolute;
	left: -4px;
	top: -4px;
}

.paih {
	height: 389px;
}

.paih_nav {
	padding: 6px 0 7px;
	font-size: 0;
	border-bottom: 1px solid #e7e7e7;
	width: 370px;
	height: 18px;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.paih_a {
	display: inline-block;
	line-height: 18px;
	font-size: 14px;
	width: 77px;
	border-right: 1px solid #d2d1d1;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.paih_a:hover {
	color: #c81623;
}

.paih_nva_content {
	position: relative;
	padding: 10px;
}

.paih_nva_item {
	display: none;
	position: absolute;
	height: 335px;
	overflow: hidden;
}

.pvi_ul {
	height: 100%;
}

.pvi_li {
	position: relative;
	float: left;
	width: 123px;
	text-align: center;
}

.pvi_a {
	display: block;
	padding: 12px 0;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	cursor: pointer;
}

.pvi_ph {
	background: url(../img/jd/picall-2.png) no-repeat -104px -40px;
	width: 30px;
	height: 40px;
	position: absolute;
	top: 12px;
	left: 11px;
	color: #fff;
	line-height: 35px;
	text-align: center;
	font-size: 22px;
}

.pvi_pic {
	margin-bottom: 10px;
}

.pvi_img {
	width: 100px;
	height: 100px;
}

.pvi_name {
	height: 32px;
	text-align: left;
	padding: 0 11px;
	line-height: 16px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.pvi_2 {
	background: url(../img/jd/picall-2.png) no-repeat -50px -100px;
}

.pvi_3 {
	background: url(../img/jd/picall-2.png) no-repeat 0px -100px;
}

.pvi_4 {
	background: url(../img/jd/picall-2.png) no-repeat -100px -100px;
}

#lj {
	margin-bottom: 30px;
	height: 215px;
	background: orchid;
}

.lj-inner {
	height: 215px;
	background: white;
}

.coupon_hd {
	float: left;
	width: 190px;
	height: 215px;
	background: #ea3524;
}

.coupon_entry {
	display: block;
	padding: 25px;
	width: 140px;
	height: 165px;
	color: #fff;
}

.coupon_entry_tit {
	overflow: hidden;
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 30px;
	font-family: fzzhengheis-el-gbregular;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 400;
}

.coupon_entry_gap {
	display: block;
	margin-top: 8px;
	margin-bottom: 20px;
	width: 55px;
	height: 3px;
	background-color: #fff;
}

.coupon_entry_p {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.coupon_entry_btn {
	display: block;
	position: relative;
	margin-top: 20px;
	padding: 2px 35px 4px 15px;
	height: 20px;
	border: 2px solid #fff;
	line-height: 20px;
	overflow: hidden;
}

.coupon_entry_btn_ico {
	position: absolute;
	right: 15px;
	top: 5px;
	width: 15px;
	height: 16px;
	background: url(../img/jd/picall-2.png) no-repeat -154px -40px;
}

.coupon_bd {
	float: left;
}

.coupon_list {
	padding: 10px 0;
}

.coupon_item {
	position: relative;
	float: left;
	width: 199px;
	height: 195px;
	border-right: 1px solid #e7e7e7;
	overflow: hidden;
}

.coupon_a {
	display: block;
	width: 100%;
	height: 100%;
}

.coupon_info {
	position: absolute;
	z-index: 1;
	left: 15px;
	top: 15px;
	width: 100px;
	border-top: 3px solid #e93524;
	background-color: #fff;
}

.coupon_price {
	overflow: hidden;
	margin-top: 7px;
	height: 36px;
	line-height: 36px;
	font-size: 34px;
	font-weight: 700;
	color: #f10214;
}

.coupon_desc {
	overflow: hidden;
	margin: 3px;
	height: 36px;
	line-height: 18px;
	color: #e93524;
}

.coupon_desc_txt {
	display: inline-block;
	vertical-align: middle;
}

.coupon_limit {
	overflow: hidden;
	padding: 15px 10px;
	width: 80px;
	height: 36px;
	background: #e7e7e7 url(../img/jd/chi.png) repeat-x 0 0;
	color: #666;
}

.coupon_limit_txt {
	display: inline-block;
	vertical-align: middle;
}

.coupon_more {
	overflow: hidden;
	width: 100%;
	height: 26px;
	background: #e93524;
	line-height: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	color: #fff;
}

.coupon_img {
	overflow: hidden;
	position: absolute;
	right: 15px;
	top: 25px;
	width: 140px;
	height: 140px;
}

.coupon_item_shadow {
	position: absolute;
	left: 100px;
	top: 33px;
	width: 15px;
	height: 117px;
	box-shadow: 0 0 30px #999;
}


/*这里是减价阶段*/

.reduce {
	margin-bottom: 30px;
	height: 100px;
	background: #e0e0e0;
}

.rec_item {
	overflow: hidden;
	float: left;
	width: 396px;
	height: 100%;
}

.rec_a {
	display: block;
	height: 100%;
}

.rec_img {
	display: block;
	margin: auto;
}


/*这里是享品质阶段*/

.ftit_inner {
	overflow: hidden;
	padding: 0 0 20px;
	height: 35px;
	background: url(../img/jd/dian.png) repeat-x 0 18px;
	text-align: center;
	font-size: 24px;
	line-height: 35px;
}

.ftit_inner h3 {
	display: inline;
	padding: 0 50px;
	background-color: #f6f6f6;
	font-weight: 400;
	font-size: 26px;
	color: #333;
	font-family: fzzhengheis-el-gbregular;
}

#entry_inner {
	overflow: hidden;
}

.gts {
	margin-bottom: 30px;
}

.entry_list {
	height: 350px;
	overflow: hidden;
	margin-left: -10px;
	width: 1200px;
}

.entry_item {
	width: 390px;
	height: 170px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 0 0 10px 10px;
	background: #fff;
}

.entry_lk {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.entry_bg {
	background: #d58717;
	width: 36%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.9;
	color: white;
	z-index: 1;
}

.entry_info {
	padding-top: 45px;
	width: 100px;
	font-size: 14px;
	margin: 0 auto;
}

.entry_h {
	overflow: hidden;
	height: 40px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	font-family: fzzhengheis-el-gbregular;
	font-weight: 400;
}

.entry_p {
	overflow: hidden;
	margin-top: 8px;
	height: 32px;
	line-height: 16px;
}

.entry_img {
	right: -10px;
	position: absolute;
	display: block;
	width: 410px;
	height: 170px;
}

#xpz {
	height: 405px;
	margin-bottom: 30px;
}


/*这里是爱生活阶段*/

#lovel {
	height: 578px;
	margin-bottom: 30px;
}

.chn_col {
	float: left;
	width: 590px;
	margin-right: 10px;
	overflow: hidden;
}

.pt_hd {
	background: #974676;
	height: 26px;
	padding: 16px 20px 16px 25px;
	overflow: hidden;
}

.pt_tit {
	float: left;
	font-size: 22px;
	color: #fff;
	height: 26px;
	line-height: 30px;
	font-weight: 400;
	max-width: 100px;
	font-family: fzzhengheis-el-gbregular;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pt_tags {
	float: right;
	max-width: 440px;
	overflow: hidden;
	height: 28px;
	text-align: right;
}

.pt_tags_item {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	border: 1px solid #c187af;
	margin-left: 10px;
	margin-bottom: 10px;
	max-width: 100px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #c187af;
	color: white;
}

.pt_tags_item:hover {
	border-color: white;
}

.pt_bd_wrapper {
	padding: 10px;
	background-color: #fff;
	overflow: hidden;
}

.pt_bd {
	position: relative;
	overflow: hidden;
}

.pt_bd_inner {
	width: 100%;
}

.pt_cover {
	float: left;
	width: 183px;
	height: 260px;
	overflow: hidden;
	margin-right: 10px;
	background-color: #f7f7f7;
}

.pt_cover_img {
	position: relative;
	display: block;
	width: 193px;
	height: 260px;
}

.pt_bi {
	float: left;
	width: 376px;
	height: 260px;
	position: relative;
	overflow: hidden;
}

.pt_bi_s {
	top: 130px;
	left: 0;
	width: 500px;
	height: 1px;
	background-color: #e6e6e6;
	position: absolute;
	display: block;
}

.pt_bi_s2 {
	top: 0;
	left: 188px;
	width: 1px;
	height: 500px;
	background-color: #e6e6e6;
	position: absolute;
	display: block;
}

.pt_bi_item {
	position: relative;
	float: left;
	width: 188px;
	height: 130px;
}

.pt_bi_tit {
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 14px;
	color: red;
	max-width: 130px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 1;
}

.pt_bi_promo {
	position: absolute;
	top: 50px;
	left: 25px;
	font-size: 12px;
	color: #666;
	max-width: 50px;
	z-index: 1;
}

.pt_bi_img {
	position: absolute;
	bottom: 10px;
	right: 5px;
	display: block;
	width: 100px;
	height: 100px;
	background-color: #f7f7f7;
}

.pt_more {
	clear: both;
	height: 130px;
	overflow: hidden;
	padding-top: 10px;
}

.pt_more_img {
	position: relative;
	display: block;
	overflow: hidden;
	width: 193px;
	height: 130px;
}

.pt_more_item {
	float: left;
	width: 180px;
	height: 130px;
	overflow: hidden;
	margin-right: 10px;
	background-color: #f7f7f7;
}

.lv-lunbo {
	padding: 10px 0 0;
	clear: both;
	background-color: #fff;
}

.lv-lunbo-logo {
	padding-left: 1px;
	position: relative;
}

.lright {
	position: absolute;
	right: 0;
	top: 8px;
	z-index: 1;
}

.lleft {
	position: absolute;
	left: 0px;
	top: 8px;
	z-index: 1;
}

.ll-content {
	float: left;
	width: 570px;
	height: 35px;
	overflow: hidden;
}

.ll-a {
	float: left;
	border-right: 1px solid #dedfe0;
	padding: 0 12px;
	height: 20px;
	margin-top: 7px;
}

.ll-a img {
	display: block;
	width: 70px;
	height: 35px;
	margin-top: -7px;
}

.lunbo-2 {
	position: relative;
	height: 35px;
	width: 100%;
	left: -570px;
	width: 500%;
}

#costume {
	margin-bottom: 30px;
}

.jdcolor {
	background: #9379a5;
	border-color: #9e84b1;
}

.mlclolr {
	background: #d36581;
	border-color: #de7b95;
}

.gjcolor {
	background: #7f8ca8;
	border-color: #94a1c0;
}

.dnsm {
	background: #6da6be;
	border-color: #77b6c3;
}

.w3c {
	background: #65bbb9;
	border-color: #6fcfce;
}

.ayd {
	background: #79aa9e;
	border-color: #72a293;
}

.ac {
	background: #edca56;
	border-color: #f9d661;
}

.ac_bi {
	width: 184px;
}

#eat {
	margin-bottom: 30px;
}

.abb {
	background: #e28465;
	border-color: #ef9f81;
}

.aj {
	background: #b08061;
	border-color: #c19369;
}

.acc {
	background: #987171;
	border-color: #b48787;
}

.aydd {
	background: #897b75;
	border-color: #9e8a84;
}

#book {
	margin-bottom: 30px;
}

.likeg {
	background: #7c80af;
	border-color: #9598cd;
}

.lvx {
	background: #6c90ab;
	border-color: #82a5bc;
}

.jdjr {
	background: #758975;
	border-color: #78977a;
}


/*---------------------这里是购特色阶段-----------------*/

.gts_list {
	height: 140px;
	margin-left: -5px;
	width: 1200px;
}

.gts_item {
	width: 160px;
	height: 140px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 0 0 10px 10px;
	background-color: #fff;
}

.gts_item a {
	display: block;
	width: 100%;
	height: 100%;
}

.entry_bg {
	width: 100%;
	height: 60px;
	bottom: 0;
	left: 0;
	top: auto;
	z-index: 1;
}

.entry_info {
	margin: 0 auto;
	padding-top: 0;
	width: 100%;
	padding: 10px 0 13px;
	text-align: center;
}

.entry_info_tit {
	height: auto;
	border-top: 0;
	border-bottom: 0;
	line-height: 24px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	overflow: hidden;
}

.entry_info_desc {
	padding: 0 10px;
	margin-top: 0;
	height: auto;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 16px;
}

.gts_list img {
	display: block;
	width: 160px;
	height: 140px;
}


/*----------------------------------底部--------------------------*/

.mod_footer {
	height: 500px;
}

.mod_service {
	padding: 30px 0;
	border-bottom: 1px solid #dedede;
}

.mod_service_list {
	overflow: hidden;
	height: 42px;
}

.mod_service_item {
	float: left;
	width: 297px;
}

.mod_service_unit {
	position: relative;
	margin: 0 auto;
	padding-left: 45px;
	width: 180px;
}

.mod_service_tit {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 42px;
	background: url(../img/jd/ico_service.png);
	text-indent: -999px;
}

.mod_service_duo {
	background-position: 0 0;
}

.mod_service_txt {
	overflow: hidden;
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #444;
}

.mod_service_kuai {
	background-position: 0 -43px;
}

.mod_service_hao {
	background-position: 0 -86px;
}

.mod_service_sheng {
	background-position: 0 -129px;
}

.mod_service_hao {
	background-position: 0 -86px;
}

.mod_help {
	padding: 20px 0;
}

.mod_help_list {
	overflow: hidden;
	height: 160px;
}

.mod_help_nav {
	float: left;
	width: 198px;
	line-height: 22px;
}

.mod_help_nav_tit {
	margin-bottom: 5px;
	font-size: 14px;
}

.mod_help_cover {
	float: right;
	width: 200px;
	height: 150px;
	background: url(../img/jd/ico_footer.png) no-repeat 0 0;
}

.mod_help_cover_tit {
	margin-bottom: 15px;
	font-size: 14px;
	text-align: center;
}

.mod_help_cover_con {
	padding: 0 10px;
}

.mod_help_cover_more {
	text-align: right;
}

.mod_copyright_inner {
	padding: 15px 0;
	border-top: 1px solid #e1e1e1;
	text-align: center;
}

.mod_copyright_split {
	margin: 0 10px;
	color: #ccc;
}

.mod_copyright_info {
	padding: 10px 0;
	line-height: 22px;
	color: #999;
}

.last {
	overflow: hidden;
	display: inline-block;
	margin: 0 3px;
	width: 103px;
	height: 32px;
	background: url(../img/jd/ico_footer.png);
	line-height: 1000px;
}

.last1 {
	background-position: 0 -151px;
}

.last2 {
	background-position: -104px -151px;
}

.last3 {
	background-position: 0 -184px;
}

.last4 {
	background-position: -104px -184px;
}

.last5 {
	background-position: 0 -217px;
}

.last6 {
	background-position: -104px -217px;
}

.Mod {
	background: #eaeaea;
}


/*-----------------------楼梯-------------------------------*/

#loutinav {
	width: 35px;
	position: fixed;
	top: 200px;
	left: 10px;
	border: 1px solid #ddd;
	display: block;
	z-index: 9999;
	display: none;
}

#loutinav ul li {
	width: 35px;
	height: 32px;
	border-bottom: 1px dotted #DDDDDD;
	list-style: none;
	font-size: 12px;
	text-align: center;
	position: relative;
	cursor: pointer;
	padding: 10px 0;
	background: #918888;
	color: #fff;
}

#loutinav ul li span {
	width: 35px;
	height: 32px;
	padding: 10px 0;
	position: absolute;
	top: 0;
	left: 0;
}

#loutinav ul li.llast {
	background: #5e4a4a;
	color: #fff;
	border-bottom: 1px solid #ddd;
}

#loutinav ul li.active span {
	background: #c00;
	color: #fff;
	display: block;
}

#loutinav ul li:hover span {
	background: #c00;
	color: #fff;
	display: block;
}


/*--------------------固定栏-------------------------*/

#search {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: -50px;
	width: 100%;
	border-bottom: 2px solid #f10214;
	background-color: #fff;
}

.search-mm {
	margin: auto;
	width: 1190px;
	height: 48px;
	position: relative;
	z-index: 1;
}

.search-logo {
	display: block;
	position: absolute;
	left: 0;
	top: 4px;
	width: 125px;
	height: 40px;
}

.sla {
	overflow: hidden;
	display: block;
	width: 125px;
	height: 40px;
	background: url(../img/jd/logo_s.v2.png) no-repeat;
	text-indent: -999px;
}


/*-------------------侧边栏----------------------*/

.jdm-toolbar-wrap {
	position: fixed;
	_position: absolute;
	top: 0;
	right: 0;
	z-index: 9990;
	width: 0;
	height: 100%;
}

.jdm-toolbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	border-right: 6px solid #7a6e6e;
}

.jdm-toolbar-tabs {
	position: absolute;
	top: 50%;
	left: -29px;
	width: 35px;
	margin-top: -61px;
}

.jdm-toolbar-tab {
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
}

.tab-tip {
	position: absolute;
	top: 8px;
	right: 10px;
	width: 6px;
	height: 6px;
	background-position: -150px -150px;
	z-index: 999;
}

.tab-ico {
	width: 34px;
	height: 35px;
	margin-left: 1px;
	position: relative;
	z-index: 2;
	background-color: #7a6e6e;
	background: url(../img/jd/toolbars.png) no-repeat;
	display: inline-block;
}

.weizhi {
	background-position: -88px -175px;
}

.weizhi2 {
	background-position: -50px 0;
}

.weizhi3 {
	background-position: -50px -50px;
}

.weizhi4 {
	background-position: -50px -100px;
}

.weizhi5 {
	background-position: -50px -250px;
}

.weizhi6 {
	background-position: -50px -300px;
}

.jdm-toolbar-tabb {
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
}

.jdm-toolbar-footer {
	position: absolute;
	bottom: -1px;
	width: 100%;
	left: -29px;
}

.weizhi7 {
	background-position: -190px -150px;
}

.weizhi8 {
	background-position: -50px -150px;
}