body {
	font: 12px/1.5 \5b8b\4f53, Arial, sans-serif;
	color: #666;
	background: #fff;
	font-family: "微软雅黑";
}

a {
	color: #999;
	text-decoration: none;
}

a:hover {
	color: #C81623
}

a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
	margin: 0;
	padding: 0
}

ol,
ul {
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

em,
i,
u {
	font-style: normal
}

.fl {
	float: left
}

.fr {
	float: right
}

.al {
	text-align: left
}

.ac {
	text-align: center
}

.ar {
	text-align: right
}

.hide {
	display: none
}

.w {
	width: 1190px;
	margin: 0 auto;
}


/*这是里顶部部分*/

#jd-Top {
	background: #E3E4E5;
}

#jd-top {
	height: 30px;
}

.place {
	margin-left: 208px;
	height: 28px;
	line-height: 28px;
	float: left;
	color: #999;
}

.top-ul {
	float: right;
}

.top-ul li {
	float: left;
	height: 30px;
	line-height: 30px;
}

.top-ul .long {
	width: 1px;
	height: 10px;
	background: #ccc;
	margin: 11px 5px 0;
}

#login {
	margin-right: 8px;
}

.top-ul .style-red {
	color: red;
}

a:hover {
	color: #C81623
}

.dt {
	padding-left: 7px;
	padding-right: 7px;
}


/*这里是头部部分*/

#Header {
	background: #F6F6F6;
}

#header {
	height: 140px;
	position: relative;
}

#logo {
	width: 190px;
	height: 170px;
	background: url(../img/jd/logo.png) no-repeat white;
	position: absolute;
	left: 0;
	top: -30px;
	z-index: 3;
}

#from {
	width: 550px;
	height: 35px;
	position: absolute;
	margin-top: 25px;
	margin-left: 320px;
}

.search-m {
	height: 60px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.search-i {
	width: 500px;
	height: 25px;
	line-height: 25px;
	position: absolute;
	font-size: 14px;
	padding: 4px;
	left: 0;
	border: 1px solid #f10215;
}

.search-btn {
	width: 50px;
	height: 35px;
	background: #F10215;
	position: absolute;
	right: 0;
	border: 0;
	cursor: pointer;
}

#cart {
	width: 190px;
	height: 33px;
	background: white;
	position: absolute;
	right: 0;
	top: 25px;
	border: 1px solid #CCCCCC;
	text-align: center;
}

#cart a {
	color: #f10214;
	line-height: 33px;
}

.hotwords {
	overflow: hidden;
	position: absolute;
	left: 320px;
	top: 65px;
	width: 550px;
	height: 20px;
	line-height: 20px;
}

.hotwords a {
	float: left;
	margin-right: 10px;
	white-space: nowrap;
}

.hotwords .style-red {
	color: red;
}

.header-nav {
	position: absolute;
	left: 200px;
	bottom: 0;
	width: 790px;
	height: 40px;
	overflow: hidden;
}

.header-nav ul {
	float: left;
}

.header-nav li {
	margin-left: 30px;
	float: left;
}

.header-nav a {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700;
	color: #666666;
}

.header-nav .spacer {
	margin-top: 15px;
	margin-left: 20px;
	margin-right: -10px;
	width: 1px;
	height: 10px;
	background: #ccc;
	float: left;
}


/*这里是分类阶段*/

#fs {
	position: relative;
	height: 480px;
	background: #CCCCCC;
	margin-bottom: 10px;
}

#sortall {
	float: left;
	width: 190px;
	height: 100%;
	margin-right: 10px;
	background: red;
}

#sortbox {
	position: relative;
}

.sort {
	padding: 15px 0;
	height: 450px;
	background: #6c6669;
	color: white;
}

#sortbox .sort li {
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
}

#sortbox a {
	color: white;
	font-size: 14px;
}

.sort-s {
	padding: 0 4px;
	font-size: 14px;
}

#sort-total {
	width: 998px;
	height: 478px;
	background: pink;
	position: absolute;
	left: 190px;
	top: 0;
	border: 1px solid red;
	background: blue;
	display: none;
}

#fs-col2 {
	width: 790px;
	height: 100%;
	float: left;
	background: greenyellow;
}

.lunbo {
	height: 340px;
	margin-bottom: 10px;
	position: relative;
}

.fs-sale {
	height: 130px;
	margin-left: -10px;
	background: gray;
}

.fs-sale-1 {
	overflow: hidden;
	float: left;
	margin-left: 10px;
	width: 390px;
	height: 130px;
	background: red;
}

#fs-col3 {
	float: right;
	margin-left: 10px;
	width: 190px;
	height: 100%;
	background: white;
}

.user {
	padding: 0 10px;
	height: 115px;
	border-bottom: 1px solid #e6e6e6;
}

.user-info {
	overflow: hidden;
	position: relative;
	padding: 15px 0 15px 60px;
	height: 45px;
}

.head {
	overflow: hidden;
	position: absolute;
	margin-left: -60px;
	width: 45px;
	height: 45px;
}

.head img {
	height: 100%;
	border-radius: 23px;
}

.user-info-show p {
	overflow: hidden;
	margin-top: 2px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.user-info-show a {
	margin-right: 5px;
	color: black;
}

.user-profit {
	height: 24px;
	overflow: hidden;
}

.user_profit a {
	display: inline-block;
	margin-right: 10px;
	width: 70px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	color: #e01222;
	border: 2px solid #e01222;
	float: left;
}


/*这里是秒杀部分*/

#sk {
	margin-bottom: 30px;
	height: 305px;
	background: green;
}

.sk-count {
	overflow: hidden;
	position: relative;
	padding: 0 20px 0 30px;
	height: 55px;
	line-height: 55px;
	background: url(../img/jd/seckill_hd.png)no-repeat 0 0;
	color: white;
}

.sk-col1 {
	float: left;
	color: white;
}

.sk-col1-i {
	background: url(../img/jd/picall-2.png)no-repeat -190px -48px;
	width: 28px;
	height: 28px;
	position: absolute;
	left: -4px;
	top: -4px;
}

.sk-col1-icon {
	margin-top: 8px;
	margin-right: 8px;
	background: url(../img/jd/picall-2.png)no-repeat 0 -40px;
	height: 40px;
	width: 34px;
	float: left;
}

.sk-col1-tit {
	font-family: fzzhengheis-el-gbregular;
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	height: 40px;
	padding-top: 9px;
	float: left;
}

.sk-col1-subtit {
	float: left;
	margin-left: 12px;
	position: relative;
	margin-top: 19px;
	padding-right: 20px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: white;
}

.sk-col1-arrow {
	background: url(../img/jd/picall-2.png)no-repeat -154px -40px;
	width: 15px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 4px;
}

.sk-col2 {
	float: right;
}

.sk-col2-down {
	float: left;
}

.sk-col2-tip {
	float: left;
	line-height: 45px;
	padding-top: 10px;
	font-size: 14px;
}

.sk-col2-min {
	float: left;
	margin-left: 6px;
	margin-right: 8px;
}

.sk-time-all {
	float: left;
	width: 35px;
	height: 37px;
	background: #440106;
	color: #f90013;
	font-size: 24px;
	font-family: Arial;
	font-weight: 700;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	line-height: 37px;
	margin-top: 10px;
}

.sk-col2-split {
	float: left;
	margin: 22px 4px 0;
	width: 4px;
	height: 12px;
	font-size: 0;
	line-height: 0;
}

.sk-col2-i {
	margin-bottom: 4px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #440106;
}

.sk-col2-i2 {
	top: 30px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #440106;
}

.sk-good {
	padding: 12px 0 13px;
	height: 225px;
	overflow: hidden;
}

.sk-good-info {
	float: left;
	width: 1000px;
}

.sk-goods {
	float: left;
	width: 170px;
	height: 225px;
	padding: 0 14px 0 15px;
	border-right: 1px solid #e7e7e7;
	background: yellow;
}

.border-right-none {
	border: 0;
}

.sk_special {
	margin: 0 10px 0 0;
	float: right;
	
}
.sk_special_pic{
    width: 180px;
    height: 225px;
}
