/*-----------------------------这里是顶部部分----------------------------------*/

#jd-Top {
	background: #E3E4E5;
}

#jd-top {
	height: 30px;
	position: relative;
}

#jd-top a:hover {
	color: #C81623;
}

.place {
	margin-left: 208px;
	height: 28px;
	line-height: 28px;
	float: left;
	color: #999;
}

.places {
	border: 1px solid #e3e4e5;
	border-bottom: 0;
	border-top: 0;
}

.dorpdown-layer {
	border: 1px solid #e3e4e5;
	border-top: 0;
	display: none;
	width: 300px;
	padding: 10px;
	position: absolute;
	background: white;
	left: 208px;
	top: 30px;
	z-index: 100;
}

.item {
	float: left;
	width: 60px;
	padding: 2px 0;
}

.selected {
	color: #999;
	float: left;
	padding: 0 8px;
}

.top-ul {
	float: right;
}

.top-ul li {
	float: left;
	height: 30px;
	line-height: 30px;
}

.top-ul .long {
	width: 1px;
	height: 10px;
	background: #ccc;
	margin: 11px 5px 0;
}

#login {
	margin-right: 8px;
}

.top-ul .style-red {
	color: red;
}

.dt {
	padding-left: 7px;
	padding-right: 7px;
	height: 30px;
}

#myjd {
	position: relative;
}

.myjd-info {
	position: absolute;
	left: 0;
	top: 30px;
	width: 280px;
	background: white;
	border: 1px solid #ccc;
	height: 200px;
	z-index: 99;
	border-top: 0;
	display: none;
}

.my-user-info {
	padding: 10px 0 10px 15px;
	overflow: hidden;
}

.u-pic {
	float: left;
	margin-right: 10px;
}

.u-pic img {
	height: 100%;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.u-name {
	padding: 6px 0 0;
	font-weight: 700;
}

.u-extra a,
.u-extra span {
	margin-right: 10px;
}

.otherlist {
	width: 255px;
	padding: 0 0 0 15px;
	margin: 5px 0;
	overflow: hidden;
	margin-bottom: 10px;
}

.fore1 {
	float: left;
	width: 126px;
}

.user-item {
	line-height: 24px;
}

#service {
	position: relative;
}

.services {
	position: absolute;
	right: 0;
	top: 30px;
	width: 180px;
	padding: 10px 0;
	background: white;
	z-index: 50;
	border: 1px solid #ccc;
	border-top: none;
	display: none;
}

.item-client {
	padding-left: 15px;
	font-weight: 700;
	color: #666;
}

.sv-item {
	display: inline-block;
	width: 70px;
	padding-left: 15px;
	line-height: 24px;
}

.item-business {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dotted #eee;
	padding-left: 15px;
	font-weight: 700;
	color: #666;
	line-height: 24px;
}

#w-nva {
	position: relative;
}

.w-nav {
	position: absolute;
	right: 0;
	top: 30px;
	width: 1190px;
	padding: 15px 0;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #fff;
	z-index: 100;
	display: none;
}

.forr {
	width: 340px;
	float: left;
	padding-left: 20px;
	border-right: 1px solid #eee;
}

.forr dt {
	margin-bottom: 5px;
	font-weight: 700;
	color: #666;
}

.forr-item {
	overflow: hidden;
	float: left;
	width: 85px;
	white-space: nowrap;
}

.forr2,
.forr3,
.forr4 {
	width: 255px;
	float: left;
	padding-left: 20px;
	border-right: 1px solid #eee;
}

/*----------------------------------底部--------------------------*/

.mod_footer {
	height: 500px;
}

.mod_service {
	padding: 30px 0;
	border-bottom: 1px solid #dedede;
}

.mod_service_list {
	overflow: hidden;
	height: 42px;
}

.mod_service_item {
	float: left;
	width: 297px;
}

.mod_service_unit {
	position: relative;
	margin: 0 auto;
	padding-left: 45px;
	width: 180px;
}

.mod_service_tit {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 42px;
	background: url(../img/jd/ico_service.png);
	text-indent: -999px;
}

.mod_service_duo {
	background-position: 0 0;
}

.mod_service_txt {
	overflow: hidden;
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #444;
}

.mod_service_kuai {
	background-position: 0 -43px;
}

.mod_service_hao {
	background-position: 0 -86px;
}

.mod_service_sheng {
	background-position: 0 -129px;
}

.mod_service_hao {
	background-position: 0 -86px;
}

.mod_help {
	padding: 20px 0;
}

.mod_help_list {
	overflow: hidden;
	height: 160px;
}

.mod_help_nav {
	float: left;
	width: 198px;
	line-height: 22px;
}

.mod_help_nav_tit {
	margin-bottom: 5px;
	font-size: 14px;
}

.mod_help_cover {
	float: right;
	width: 200px;
	height: 150px;
	background: url(../img/jd/ico_footer.png) no-repeat 0 0;
}

.mod_help_cover_tit {
	margin-bottom: 15px;
	font-size: 14px;
	text-align: center;
}

.mod_help_cover_con {
	padding: 0 10px;
}

.mod_help_cover_more {
	text-align: right;
}

.mod_copyright_inner {
	padding: 15px 0;
	border-top: 1px solid #e1e1e1;
	text-align: center;
}

.mod_copyright_split {
	margin: 0 10px;
	color: #ccc;
}

.mod_copyright_info {
	padding: 10px 0;
	line-height: 22px;
	color: #999;
}

.last {
	overflow: hidden;
	display: inline-block;
	margin: 0 3px;
	width: 103px;
	height: 32px;
	background: url(../img/jd/ico_footer.png);
	line-height: 1000px;
}

.last1 {
	background-position: 0 -151px;
}

.last2 {
	background-position: -104px -151px;
}

.last3 {
	background-position: 0 -184px;
}

.last4 {
	background-position: -104px -184px;
}

.last5 {
	background-position: 0 -217px;
}

.last6 {
	background-position: -104px -217px;
}

.Mod {
	background: #eaeaea;
}